.wrapper {
    max-width: 100vw;
    min-width: 1160px;
    margin: auto;
    font-family: "Montserrat";
}

.ham-header {
    background: url(../images/backgrounds/section-1.jpg) no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-bottom: 240px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5E5D5899;
    padding: 26px 16vw;
    position: sticky;
    top: 0;
}

.ham-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 32px;
    position: relative;
    margin-right: 3vw;
}

.ham-logo::before {
    content: "H";
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    left: 12.5px;
}

.ham-logo>img {
    margin-right: 6px;
}

.ham-logo>span {
    color: #18CFAB;
    font-weight: 700;
}

.links-wrapper {
    display: flex;
    align-items: center;
}

.site-links {
    display: flex;
    gap: 21px;
}

.site-links>li>a {
    color: #FFFFFF99;
    text-decoration: none;
    font-weight: 700;
}

.site-links>li>a:hover {
    color: #18CFAB;
    text-decoration: underline 2px;
    text-underline-offset: 52px;
}

.search-img {
    margin-left: 21px;
}

.search-img:hover {
    filter: invert(60%) sepia(86%) saturate(398%) hue-rotate(118deg) brightness(92%) contrast(95%);
}

.ham-slogan {
    margin-top: 260px;
    text-align: center;
    display: grid;
    row-gap: 22px;
}

.ham-slogan>h1 {
    font-size: 35px;
    color: white;
}

.ham-slogan>h1>span {
    font-size: 35px;
    color: #18CFAB;
    font-weight: 700;
}

.ham-slogan>h2 {
    font-size: 78px;
    font-weight: 700;
}

.ham-slogan>h3 {
    font-size: 32px;
    color: #FFFFFF99;
}

.header-btns {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 129px;
}

.header-btn {
    text-align: center;
    height: 63px;
    width: 169px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    border-top: 5px solid;
}

.header-btn:hover {
    cursor: pointer;
}

.header-btn.green {
    background-color: #18CFAB;
}

.header-btn.blue {
    background-color: #00CBF6;
}

.guaranties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
}

.guaranties-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 85px 0 100px;
    height: 170px;
}

.guaranties-element.green {
    background-color: #18CFAB;
    color: white;
}
.guaranties-element.black {
    background-color: #1C2A33;
    color: #18CFAB;
}

.services {
    margin-top: 83px;
}

.section-header {
    text-align: center;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.section-header::before {
    content: "";
    position: absolute;
    width: 80px;
    top: 3.8rem;
    left: 50%;
    margin-left: -40px;
    border-top: 1px solid #18CFAB;
}

.section-header::after {
    content: "";
    position: absolute;
    width: 80px;
    top: 4.1rem;
    left: 50%;
    margin-left: -25px;
    border-top: 1px solid #18CFAB;
}

.services-tabs {
    margin: 100px 20vw 0;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2px;
}

.tabs-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #717171;
    padding: 18px 5px;
    border: 1px solid #EDEFEF;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: white;
    position: relative;
}

.tabs-title.active::after {
    content: "";
    position: absolute;
    width: 0;
	height: 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #18CFAB;
}

.tab {
    display: none;
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
    color: #777777;
}

.tab>img {
    width: 192px;
    height: 139px;
    object-fit: cover;
    margin-right: 15px;
}

.tab.active {
    display: flex;
    align-items: center;
}

.purchase-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: url(../images/backgrounds/section-2.jpg) no-repeat center; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    background-attachment: fixed;
    color: white;
    padding: 130px 10vw;
    margin-top: 90px;
}

.purchase-section>h2 {
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    margin-bottom: 12px;
}

.purchase-section>p {
    color: #D8D8D8;
}

.purchase-section>div {
    justify-content: center;
    display: flex;
    margin-top: 70px;
}

.amazing-work {
    padding: 95px 0 100px;
    background-color: #E9EDEF;

}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.filter-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(140px*5);
}

.filter-option {
    color: #717171;
    font-size: 14px;
    border: 1px solid #DADADA;
    margin-right: -1px;
    cursor: pointer;
    text-align: center;
    padding: 14px 0;
}

.filter-option.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    margin-right: 0px;
}

.filter-content {
    display: grid;
    margin: 70px 20vw 0;
    grid-template-columns: repeat(4, 1fr);
}

.filter-container {
    position: relative;
    display: none;
}

.hover-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
    border-top: 3px solid #18CFAB;
}

.hover-container>h3 {
    color: #18CFAB;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
}

.hover-container>p {
    color: #8A8A8A;
    font-size: 12px;
    margin-top: 13px;
    user-select: none;
}

.hover-links-container {
    margin: 46px 0;
    display: flex;
    gap: 3px;
}

.hover-links-container>.hover-link>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
}

.hover-links-container>.hover-link.second>div {
    background-color: #18CFAB;
}

.hover-links-container>.hover-link.second>div>div {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
}

.filter-container:hover>.hover-container {
    visibility: visible;
    opacity: 1;
}

.filter-container.active {
    display: flex;
}

.filter-img {
    display: none;
}

.filter-img.active {
    display: block;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
    padding: 0 23px;
    height: 60px;
    font-size: 14px;
    font-weight: 700;
    margin: 70px auto 0;
    position: relative;
}

.loader {
    display: none;
    border: 2.1px solid #717171;
    border-radius: 50%;
    border-top: 2.1px solid white;
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.loader.active {
    display: block;
    animation: spin 2s linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-more>img {
    margin-right: 15px;
}

.load-more:hover {
    cursor: pointer;
}

.news {
    margin: 82px auto 0;
    width: 1160px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 44px;
    margin-top: 100px;
}

.news-card {
    text-decoration: none;
    color: #777777;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.news-card>h3 {
    font-size: 18px;
    font-weight: 700;
}

.news-card>p {
    font-size: 14px;
    font-weight: 300;
    tab-size: 4;
}

.news-card:hover>h3 {
    color: #18CFAB;
}

.img-container {
    position: relative;
}

.img-container::after {
    content:"12 \A Feb";
    white-space: pre;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 25px;
    width: 70px;
    height: 70px;
    color: white;
    position: absolute;
    background-color: #203E38;
    right: 0;
    top: 0;
}

.news-card:hover>.img-container::after {
    background-color: #18CFAB;
}

.people-comments {
    background: url(../images/backgrounds/section-3.jpg) no-repeat center; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-attachment: fixed;
    margin-top: 130px;
    padding: 100px 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quotes-img {
    margin-top: 100px;
}

.section-header.white {
    color: white;
}

.slideshow-container {
    margin-top: 36px;
    position: relative;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
}

.slide>p {
    font-weight: 300;
    color: #BBBBBB80;
    line-height: 30px;
    height: 110px;
}

.slide>h3 {
    font-weight: 700;
    margin-top: 35px;
    color: #18CFAB;
    text-transform: uppercase;
}

.slide>h4 {
    margin-top: 15px;
    color: #BBBBBB80;
}

.slide>div {
    width: 160px;
    height: 160px;
    border: 10px solid rgba(31, 218, 181, .2);
    margin-top: 38px;
    border-radius: 50%;
}

.slide>div>img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.slide.active {
    display: flex;
    animation: fadeIn ease .5s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.slide-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}

.choose {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 4px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
    user-select: none;
    transition: transform .2s linear;
}

.choose.active {
    pointer-events: none;
    transform: translateY(-10px);
}

.choose>img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.change-slide {
    display: inline-block;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(187, 187, 187, .5);
    border: 1px solid rgba(187, 187, 187, .5);
    user-select: none;
}

.change-slide:hover {
    cursor: pointer;
    color: white;
    background-color: #18CFAB;
    border-color: #18CFAB;
}

.gallery {
    margin: 100px auto 80px;
    max-width: 1200px;
}

.masonry-grid {
    margin: 115px auto 0;
}

.grid-item {
    display: none;
    gap: 14px;
    margin-bottom: 20px;
    width: 378px;
    justify-content: center;
}

.grid-item.active {
    display: grid;
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid3 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.grid3>img {
    height: 90px;
    width: 115px;
    object-fit: cover;
}

.footer {
    padding: 40px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #AEAEAE;
    background-color: #22353F;
}

.footer>p>span {
    color: #18CFAB;
}